@font-face {
	font-family: 'BrowalliaUPC';
	src: url(../../assets/fonts/BrowalliaUPC.woff2) format('woff2'),
	url(../../assets/fonts/BrowalliaUPC.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}